In [2]:
number_list = [0, [1, 2], 3]
number_list

[0, [1, 2], 3]

In [3]:
number_list[1]

[1, 2]

In [4]:
number_list[1][1]

2

In [5]:
students = [{"name":"현호", "age": 23}, {"name":"범규", "age": 24}, {"name":"건희", "age":25}]
students

[{'name': '현호', 'age': 23},
 {'name': '범규', 'age': 24},
 {'name': '건희', 'age': 25}]

In [6]:
students[1]['name']

'범규'

In [7]:
students[2]['name']

'건희'

In [11]:
group1 = set([1, 1, 2, 2, 3, 3])
group2 = set([1, 3, 5, 7, 9])
group1
group2

{1, 3, 5, 7, 9}

In [12]:
group1 & group2

{1, 3}

In [13]:
group1 | group2

{1, 2, 3, 5, 7, 9}

In [15]:
answer = (4 + 5) * 2 + 3
x = 9
answer = answer + x

if answer == 30:
    print("정답입니다. ")
else:
    print("오답입니다. ")

정답입니다.

In [17]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
total = 0

for number in data:
    total = total + number
    print(number, total)
total

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

55

In [18]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
data2 = {"첫번째값" : 4, "두번째값" : 10}

def sum(a, b):
    return a + b

In [19]:
sum(1,4)

5

In [20]:
sum(data[0], data[3])

5

In [21]:
sum(data(0), data(3)) #data는 리스트라서 [] 괄호 사용

TypeError: 'list' object is not callable

In [23]:
sum(data2["첫번째값"], data2["두번째값"])

14